<ion-view id="beer" title='<img class="title-image" src="img/FontLogo_Light.png" />'>
    <ion-content>
        <ion-scroll id="beer-container" direction="y">
            <h2 id="beer-name-label"> {{beer.name}}</h2>
            <img id="beer-icon" src="img/beer-icon.png"/>

            <h3 id="beer-color-label">Bière {{color.name}}</h3>
            <h3 id="beer-origin-label"> Pays d'origine : {{country.name}}</h3>
            <p id="beer-degree-label"> Titrée à {{beer.degree}}°</p>
            <p id="beer-description">{{beer.description}}</p>
            <p id="beer-hunts-label" ng-show="hunts[0]!=null">Endroits où elle a été dernièrement vue..</p>
            <hr id="beer-separator" ng-show="hunts[0]!=null">
            <ul id="beer-hunts-list" ng-show="hunts[0]!=null">
                <li >
                    <ion-item id="beer-item" ng-repeat="hunt in hunts" ng-click="goToHunt({{hunt[0]}})" >
                        {{hunt[1]}}
                    </ion-item>
                </li>
            </ul>
        </ion-scroll>
    </ion-content>
</ion-view>