<ion-view id="huntList" title='<img class="title-image" src="img/FontLogo_Light.png" />'>
    <ion-content>

        <div id="huntList-container">
            <p id="huntList-hunts-label">Voici les dernières chasses en cours ...</p>
            <hr id="huntList-separator">

            <ion-scroll id="huntList-hunts-list" direction="y">
                <ul >
                    <li>
                        <ion-item id="huntList-item" ng-repeat="hunt in hunts" ng-click="goToHunt({{hunt.id}})" >
                            <div id="huntList-item-bar">{{hunt.bar}}</div>
                            <p id="huntList-item-beer">{{hunt.beer}}</p>
                            <span id="huntList-item-button" class="glyphicon glyphicon-chevron-right"></span>
                        </ion-item>
                    </li>
                </ul>
            </ion-scroll>

        </div>
    </ion-content>
</ion-view>