<ion-view id="hunter" title='<img class="title-image" src="img/FontLogo_Light.png" />'>
    <ion-content>
        <ion-scroll id="hunter-container">
            <img src="img/user-icon.png" id="hunter-icon"/>
            <div id="hunter-rightDiv">
                <h2 id="hunter-name-label"> {{hunter.username}}</h2>
                <h3 id="hunter-score-label"> Score : {{hunter.validScore}}</h3>
                <h3 id="hunter-level-label"> Lvl : {{level}}</h3>
            </div>
            <h3 id="hunter-hunts-label"> {{hunter.hunts.length}} chasses à son actif</h3>
            <p id="hunter-informations-label" ng-show="hunter.dateOfBirth || hunter.description"> A propos de ce chasseur</p>
            <hr id="hunter-separator" ng-show="hunter.dateOfBirth || hunter.description">
            <p id="hunter-biography" ng-show="hunter.biography">Description : {{hunter.biography}}</p>
            <p id="hunter-age" ng-show="hunter.dateOfBirth">Age : {{age}} ans</p>
                        <p id="hunter-statistic-label"> Statistiques de ce chasseur</p>
            <hr id="hunter-separator">
            <p id="hunter-inscription-label" >Inscrit depuis le {{hunter.createdAt | date:'dd/MM/yyyy'}}</p>
            <p id="hunter-potential-label"> Potentiel : {{hunter.potentialScore}}</p>
            <p id="hunter-trophy-label"> Trophées : {{hunter.trophyHunter.length}}</p>
        </ion-scroll>
        <div id="hunter-edit-button" ng-click="goToEdit()" ng-show="consultingHimself">Editer</div>
    </ion-content>
</ion-view>