<ion-view id="search" title='<img class="title-image" src="img/FontLogo_Light.png" />'>
    <ion-content>
        <div id="search-container">
            <ion-tabs id="search-tabs" class="tabs-assertive tabs-icon-top">

                <ion-tab id="search-beer-tab" title="Bière" icon-on="ion-ios-pint" icon-off="ion-ios-pint-outline" on-select="selectTab('beer')">
                </ion-tab>

                <ion-tab id="search-bar-tab" title="Bar" icon-on="ion-ios-location" icon-off="ion-ios-location-outline" on-select="selectTab('bar')">
                </ion-tab>

                <ion-tab id="search-hunter-tab" title="Chasseur" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" on-select="selectTab('hunter')">
                </ion-tab>

            </ion-tabs>
            
            <ion-md-input id="search-query-field" placeholder="Entrez votre recherche" highlight-color="assertive" type="text" ng-model="searchTyped" ng-change="updateResultList(searchTyped)" ></ion-md-input>
            
            <ion-scroll id="search-result" direction="y">
                <ul>
                    <li >
                        <ion-item id="search-result-item" ng-repeat="result in displayedResults" ng-click="selectResult(result)" >
                            {{result}}
                        </ion-item>
                    </li>
                </ul>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>