/*Style de la page de consultation d'un bar*/
#bar-container{
    float : left;
    margin-top : 10.5%;
    background-color : #DBBC8A;
    width : 90%;
    margin-left : 5%;
    height : 89%;
    padding-left : 6%;
    padding-right : 6%;
    padding-top : 6%;
    padding-bottom : 7%;
}
#bar-icon{
    width : 35%;
    margin-left : 30%;
}
#bar-name-label{
    text-align: center;
}
#bar-address-label{
    margin-top : 4%;
    color : saddlebrown;
    margin-left : 4%;
}
#bar-address-firstLine{
    margin-bottom : 0%;
    margin-left : 2%;
    font-size : 14px;
}
#bar-address-secondLine{
    margin-left : 2%;
    font-size : 14px;
}
#bar-description-label{
    margin-top : 14%;
    color : saddlebrown;
    margin-left : 4%;
}
#bar-separator{
    margin-top : -3%;
    width : 98%;
    border-color : saddlebrown;
    margin-bottom : 2.2%;
}
#bar-description-label{
    margin-top : 5%;
    margin-left : 3%;
    margin-right : 3%;
}
#bar-finishedHunts-label{
    padding-top : 3%;
    color : saddlebrown;
}
#bar-finishedHunts-list{

}
#bar-item{

}
#bar-item-hunter{
    float : right ;
}
#bar-pendingHunts-label{
    padding-top : 3%;
    padding-left : 3.5%;
    color : saddlebrown;
}
bar-pendingHunts-list{

}