/*Style de la page de consultation d'une bière*/
#beer-container{
    margin-top : 10.5%;
    background-color : #DBBC8A;
    width : 90%;
    margin-left : 5%;
    height : 89%;
    padding-left : 6%;
    padding-right : 6%;
    padding-top : 6%;
    padding-bottom : 7%;
}
#beer-icon{
    margin-top : -4%;
    margin-left : 2%;
    float : left;
    width : 40%;
    height : auto;
    padding-bottom :-2%;
}
#beer-name-label{
    margin-top : 2%;
    text-align: center;
}

#beer-color-label{
    float:left;
    margin-top : 3%;
    margin-left : 3%;
}

#beer-origin-label{
    margin-top : -4%;
    font-size : 16px;
    margin-left : 45%;
}
#beer-degree-label{
    float: right;
    margin-top : -1%;
    margin-right : 24%;
    padding-bottom: 5%;
}
#beer-description-label{
    margin-left : 4%;
    color : saddlebrown;
}
#beer-separator{
    margin-top : -3%;
    width : 98%;
    border-color : saddlebrown;
    margin-bottom : 2.2%;
}
#beer-description{
    text-align:justify;
    margin-top : 3%;
    margin-bottom : -1%;
}
#beer-hunts-label{
    padding-top : 5%;
    color : saddlebrown;
}
#beer-hunts-list{

}
#beer-item{

}