/* Style de la page d'accueil/de la carte */
#map-filter-container{
    margin-top : 7.5%;
    margin-left : 4%;
    padding-top : 0.5%;
    width : 92%;
    background-color : #DBBC8A;
    padding-bottom : 2%;
    height : 39%;
}
#map-overlay{
    width :100%;
    height : 270%;
    opacity : 0.4;
    position : absolute;
    top : -8%;
    left : 0;
    background-color : black;
    z-index: 12;
}

#map-beer-field{
    width : 90%;
    margin-left : 5%;
    border : none;
    z-index : 11;
}
#map-beer-label{
    font-size : 28px;
    padding-top : 6%;
    padding-bottom: 4%;
    padding-left : 15%;
}
#map-beer-reset{
    float : right;
    margin-top : 2%;
    padding-right : 14%;
    color : darkred;
    font-size : 23px;
}
#map-beerAutocomplete{
    width : 82%;
    height : 60%;
    margin-top : 18%;
    margin-left : 9.2%;
    position : absolute;
    z-index : 15;
}
#map-beer-item{
    font-size : 15px;
}


#map-filters-scroll{
    height : 65%;
}
#map-color-filter{
    margin-top : 3%;
    background-color: #DBBC8A;
    border : none;
    width : 99%;
    margin-left : 0.5%;
}
#map-color-filter-select{
    margin-right : 1%;
    width : 48%;
    background-color: #D1B17D;
}

#map-origin-filter{
    margin-top : 2%; 
    border:none;
    background-color: #DBBC8A;
    border : none;
    width : 99%;
    margin-left : 0.5%;
}
#map-origin-filter-select{
    margin-right : 1%;
    width : 48%;
    background-color: #D1B17D;
}

#map-degree-filter{
    margin-top : 2%; 
    border:none;
    background-color: #DBBC8A;
    border : none;
    width : 99%;
    margin-left : 0.5%;
}
#map-degree-filter-select{
    margin-right : 1%;
    width : 53%;
    background-color: #D1B17D;
}

#map-pressure-filter{
    background-color: #DBBC8A;
    border : none;
    width : 93%;
    margin-top : 1%;
    margin-bottom: -2%;
    font-weight: bold;
}

#map-price-filter{
    margin-top : 2%; 
    border:none;
    background-color: #DBBC8A;
    border : none;
    width : 99%;
}
#map-price-filter-select{
    margin-right : 1%;
    width : 48%;
    background-color: #D1B17D;
}

#map-status-filter{
    margin-top : 2%; 
    border:none;
    background-color: #DBBC8A;
    border : none;
    width : 99%;
}
#map-status-filter-select{
    margin-right : 1%;
    width : 48%;
    background-color: #D1B17D;
}


#map-mapContainer{
    position : absolute;
    margin-top : 2%;
    height : 280px;
    width : 95%;
    margin-left : 2.5%;
    margin-bottom : -2%;
}

