/* Style de la page d'accueil/de la carte */
#map-filter-container{
    float:left;
    margin-top : 6.5%;
    margin-left : 1.5%;
    padding-top : 0.2%;
    width : 97%;
    background-color : #DBBC8A;
    padding-bottom : 2%;
    height : 39%;
}
#map-overlay-link{
    color : black;
}
#map-overlay-link:visited{
    color : black;
}
#map-overlay{
    width :100%;
    height : 270%;
    opacity : 0.4;
    position : absolute;
    top : -8%;
    left : 0;
    background-color : black;
    z-index: 12;
}

#map-beer-field{
    width : 90%;
    margin-left : 5%;
    border : none;
    z-index : 11;
}
#map-beer-label{
    font-size : 28px;
    padding-top : 6%;
    padding-left : 15%;
}
#map-beer-reset{
    float : right;
    margin-top : 2%;
    padding-right : 14%;
    color : darkred;
    font-size : 23px;
}
#map-beerAutocomplete{
    width : 82%;
    height : 60%;
    margin-top : 18%;
    margin-left : 9.2%;
    position : absolute;
    z-index : 15;
}
#map-beer-item{
    font-size : 15px;
}


#map-filters-scroll{
    margin-top : 1.5%;
    height : 66%;
    width : 96%;
    margin-left : 2%;
    background-color: #CCAF81;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    padding-bottom: 2%;
}
#map-color-filter{
    margin-top : 4.5%;
    border : none;
    width : 95%;
    margin-left : 2.5%;
    background-color: transparent;
}
#map-color-filter-select{
    margin-right : 1%;
    width : 48%;
    background-color: #CF9E66;
}

#map-origin-filter{
    margin-top : 3%; 
    border:none;
    background-color: #DBBC8A;
    border : none;
    width : 95%;
    margin-left : 2.5%;
    background-color: transparent;
}
#map-origin-filter-select{
    margin-right : 1%;
    width : 48%;
    background-color: #CF9E66;
}

#map-degree-filter{
    margin-top : 3%; 
    border:none;
    background-color: #DBBC8A;
    border : none;
    width : 95%;
    margin-left : 2.5%;
    background-color: transparent;
}
#map-degree-filter-select{
    margin-right : 1%;
    width : 51%;
    background-color: #CF9E66;
    font-size : 13px;
}

#map-pressure-filter{
    background-color: transparent;
    border : none;
    width : 93%;
    margin-top : 1%;
    margin-bottom: -2%;
    font-weight: bold;
}

#map-price-filter{
    margin-top : 2%; 
    border:none;
    background-color: transparent;
    border : none;
    width : 99%;
}
#map-price-filter-select{
    margin-right : 1%;
    width : 48%;
    background-color: #CF9E66;
}

#map-status-filter{
    margin-top : 3%; 
    border:none;
    border : none;
    width : 99%;
    background-color: transparent;
}
#map-status-filter-select{
    margin-right : 1%;
    width : 48%;
    background-color: #CF9E66;
}


#map-mapContainer{
    float:left;
    margin-top : 2%;
    height : 53%;
    width : 95%;
    margin-left : 2.5%;
}

