/* Style global de l'app*/
#mapTemplate,#hunt,#login,#signin,#menuContent,#search,#beer,#bar,#hunter,#consultHunt,#editProfile,#huntList,#ranking{
    color:black;
    background-color:white;
    background-image:url(../img/background.jpg);
}
ul
{
    list-style-type: none;
}
.padding{
    padding: 0;
}
.title-image{
    width :80%;
    padding-left: 7%;
}
.bar-hunter{
    background : #bc8b49;
    height : 60px;
}
.bar-hunter2{
    background : #bc7a3f;
    height : 60px;
}
#sideMenuTitle{
    padding-top : 8px;
    padding-left : 13px;
}
.sideMenuContent{
    padding-top : 17px;
    background-color : #d2a959;
}
.item-complex .item-content, .item{
    background-color : #d2a959;
}
#burgerIcon{
    padding-top : 8px; 
}
.bar .title{
    height : 60px;
}




/*Style de la page de consultation d'un hunter*/
#hunter-container{
    margin-top : 10%;
    background-color : #DBBC8A;
    width : 90%;
    margin-left : 5%;
    height : 540px;
    padding-left : 6%;
    padding-right : 6%;
    padding-top : 6%;
    padding-bottom : 7%;
}
#hunter-icon{
    width : 40%;
    margin-top : 5%;
    margin-left: 4%;
}
#hunter-rightDiv{
    float:right;
    margin-top : 7%;
    margin-right : 20%;
}
#hunter-name-label{
    font-size : 26px;
}
#hunter-score-label{
    font-size : 18px;
}
#hunter-level-label{
    font-size : 18px;
}
#hunter-hunts-label{
    font-size : 14px;
    margin-left : 2%;
    margin-top : 5%;;
}
#hunter-informations-label{
    margin-top : 3%;
    margin-left : 2%;
    padding-top : 3%;
    color : saddlebrown;
}
#hunter-separator{
    margin-top : -2.7%;
    border-color : saddlebrown;
    margin-bottom : 2.2%;
}
#hunter-inscription-label{

}
#hunter-potential-label{

}
#hunter-trophy-label{

}

/*Style de la page de consultation d'un chasse*/
#consultHunt-container{
    margin-top : 18.5%;
    background-color : #DBBC8A;
    width : 90%;
    margin-left : 5%;
    padding-left : 6%;
    padding-right : 6%;
    padding-top : 6%;
    padding-bottom : 8%;
}
#consultHunt-beer-label{

}
#consultHunt-icon{
    width :38%;
    margin-left : 1%;
}
#consultHunt-rightDiv{
    float : right ;
    margin-top : 6%;
    margin-right : -2%;
}
#consultHunt-rightDiv h4{
    margin-top : -3%;
}
#consultHunt-color-label{

}
#consultHunt-origin-label{

}
#consultHunt-informations-label{
    margin-top : 3%;
    margin-left : 2%;
    padding-top : 3%;
    color : saddlebrown;
}
#consultHunt-separator{
    margin-top : -2.2%;
    border-color : saddlebrown;
    margin-bottom : 2.2%;
}
#consultHunt-hunter-label{
    margin-left : 5%;
    padding-top : 3%;
    font-size : 16px;
}
#consultHunt-time-label{
    margin-left : 5.5%;
    font-size : 16px;
}
#consultHunt-bar-label{
    margin-left : 5%;
    font-size : 20px;
}
#consultHunt-footer{
    background-color:white;
    width : 100%;
    height : 105px;
    float:left;
    margin-top : 16.5%;
}
#consultHunt-vote-control{

}
#consultHunt-confirm-button{
    width : 50%;
    height : 105px;
    text-align:center;
    font-size : 19px;
    padding-top : 10.1%;
    background-color : #bc7a3f;
}

#consultHunt-infirm-button{
    margin-left : 50%;
    width : 50%;
    height : 105px;
    font-size : 19px;
    text-align:center;
    padding-top : 10.1%;
    margin-top : -29.2%;
    background-color : #bc8b49; 
}
#consultHunt-overlayDiv{

}
#consultHunt-overlay{
    background-color: black;
    opacity : 0.75;
    width : 100%;
    height : 105px;
    position : absolute;
    z-index : 5;

}
#consultHunt-overlayDiv p{
    position : absolute;
    z-index : 8;
    width : 100%;
    font-size : 14px;
    text-align: center;
    color : white;
    margin-top : 10%;
}
#consultHunt-unavailable-button{
    text-align : center;
    font-size : 20px;
    padding-top : 10%;
    padding-bottom : 11.5%;
    background-color : #bc8b49;
}