/* Style global de l'app*/
#mapTemplate,#hunt,#login,#signin,#menuContent,#search,#beer,#bar,#hunter,#consultHunt,#editProfile,#huntList,#ranking{
    color:black;
    background-color:white;
    background-image:url(../img/background.jpg);
}
ul
{
    list-style-type: none;
}
.padding{
    padding: 0;
}
.title-image{
    width :80%;
    padding-left: 7%;
}
.bar-hunter{
    background : #bc8b49;
    height : 60px;
}
.bar-hunter2{
    background : #bc7a3f;
    height : 60px;
}
#sideMenuTitle{
    font-size : 23px;
    padding-top : 8px;
    padding-left : 13px;
}
.sideMenuContent{
    padding-top : 17px;
    background-color : #DBBC8A;
}
#menu-user-icon{
    padding-right : 3%;
}
#menu-level-icon{
    padding-left : 5%;
    padding-right : 2%;
}
.item-complex .item-content, .item{
    background-color : #DBBC8A;
}
.item-complex .item-content:active, .item:active{
    background-color : beige;
}
#burgerIcon{
    padding-top : 8px; 
}
.bar .title{
    height : 60px;
}